@media only screen and (min-width: 1200px){
    /* menu */
    div.menuSmall{
        display: none;
    }
    div.menu{
        display: grid;
        grid-area: menu;
        padding: 10px 0;
        box-sizing: border-box;
        background-color: #05A8AA;
        height: 80px;
        grid-gap: 10px;
        justify-content: center;
        line-height: 60px;
        border-radius: 0% 0% 100% 0% / 0% 0% 35% 100% ;
        grid-template-areas:
        "one two three four five six six";
    }
    div.menu>div:nth-of-type(1){
        width: 150px;
        grid-area: one;
    }
    div.menu>div:nth-of-type(2){
        width: 150px;
        grid-area: two;
    }
    div.menu>div:nth-of-type(3){
        width: 150px;
         grid-area: three;
     }
    div.menu>div:nth-of-type(4){
        width: 150px;
          grid-area: four;
    }
    div.menu>div:nth-of-type(5){
        width: 150px;
        grid-area: five;
    }
    div.menu>div{
        text-align: center;
        transition: all 300ms linear;
    }
    div.menu>div:nth-of-type(6){
        width: 250px;
        grid-area: six ;
        text-transform: uppercase;
        text-align: right;
        color: coral;
        transition: all 300ms linear;
    }
    div.menu>div>a{
        font-size: 20px;
        text-decoration: none;
        text-transform: capitalize;
        color: navajowhite;
        transition: all 300ms linear;
    }
    div.menu>div>span{
        font-size: 20px;
        text-decoration: none;
        color: navajowhite;
        transition: all 300ms linear;
        padding-right: 10px;
        box-sizing: border-box;
    }
    div.menu>div:hover{
        border-radius: 100% 0% 100% 0% / 35% 65% 35% 65%;
        background-color: rebeccapurple;
    }
    div.menu>div:nth-of-type(6):hover{
        background-color: #05A8AA;
    }
    div.menu>div:hover>a{
        color: coral;
    }
    div.menu>div:hover>span{
        color: coral;
    }
    /* end of menu */
}