@media only screen and (min-width: 540px) and (max-width: 768px){
    div.container {
        width: 100%;
        display: grid;
        grid-template-areas:
            "menu"
            "slide"
            "products"
            "news"
            "footer"
    ;
    }
}