@media only screen and (max-width: 1200px) and (min-width: 990px){
    /* background */
    div.footerWH{
        width: 100%;
        position: relative;
        height: 230px;
    }
    div.footerWH>img{
        width: 100%;
        object-fit: cover;
        height: inherit;
    }
    /* end of background */

    div.footer{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-area: footer;
        box-sizing: border-box;
        padding: 20px ;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.7);
        grid-template-areas:
        'about social links'
        'bottom bottom bottom'
    ;
    }
    div.footer>div{
        width: 300px;
    }

    /* left side*/
    div.footer>div:nth-of-type(1){
        grid-area: about;
        display: grid;
        grid-template-areas:
        'title'
        'about'
    ;
    }
    div.footer>div:nth-of-type(1)>h1{
        grid-area: title;
        text-transform: uppercase;
        color: #DC602E;
    }
    div.footer>div:nth-of-type(1)>p{
        grid-area: about;
        color: whitesmoke;
        padding: 10px 0 ;
        box-sizing: border-box;
    }
    /* end of left side*/

    /* center */
    div.footer>div:nth-of-type(2){
        grid-area: social;
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        grid-template-areas:
        ' one two three four five '
    ;
    }
    div.footer>div:nth-of-type(2)>span{
        width: 40px;
        height: 40px;
        font-size: 25px;
        color: navajowhite;
        transition: all 200ms linear;
    }
    div.footer>div:nth-of-type(2)>span:nth-of-type(1){
        grid-area: one;
        display: grid;
    ;
    }
    div.footer>div:nth-of-type(2)>span:nth-of-type(2){
        grid-area: two;
        display: grid;
    ;
    }
    div.footer>div:nth-of-type(2)>span:nth-of-type(3){
        grid-area: three;
        display: grid;
    ;
    }
    div.footer>div:nth-of-type(2)>span:nth-of-type(4){
        grid-area: four;
        display: grid;
    ;
    }
    div.footer>div:nth-of-type(2)>span:nth-of-type(5){
        grid-area: five;
        display: grid;
    ;
    }
    div.footer>div:nth-of-type(2)>span:hover{
        transform: translateY(-10px);
        color: aquamarine;
    }
    /* center */

    /* right side */
    div.footer>div:nth-of-type(3){
        width: 250px;
        grid-area: links;
        display: grid;
        padding: 20px;
        box-sizing: border-box;
        justify-content: center;
        justify-items: center;
        grid-template-areas:
        'one'
        'two'
        'three'
        'four'
    ;
    }
    div.footer>div:nth-of-type(3)>a{
        font-size: 18px;
        padding: 5px;
        box-sizing: border-box;
        text-transform: capitalize;
        text-decoration: none;
        color: #ecc501;
        border-radius: 15px;
        transition: all 300ms linear;
    }
    div.footer>div:nth-of-type(3)>a:hover{
        color: #DC602E;
        background-color: #05A8AA;
    }
    /* end of right side */

}